*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.btn{
    padding: 5px 15px;
    background-color: #302d2d;
    color: #fff;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.color-red{
    color: red;
}
.color-green{
    color: lightgreen;
}
.background{
    background-color: lightseagreen;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1{
    padding-bottom: 15px;
}
#difficolta{
    display: flex;
    flex-direction: column;
}
#difficolta > div:nth-of-type(2){
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#difficolta > #messaggio{
    text-align: center;
    padding-top: 15px;
}
#difficolta > #invio{
    align-self: center;
}
#gioco{
    display: none;
    width: 100%;
    padding: 0 200px;
}
#gioco > #container-word{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    background-color: #302d2d;
    padding: 15px;
    border-radius: 10px;
}
#gioco > #container-word > span{
    padding: 2px 5px;
}
#gioco > #input{
    margin-top: 15px;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    background-color: #302d2d;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
#input > input{
    background-color: #302d2d;
    color: #fff;
    border: none;
    width: 100%;
}
#gioco > div:nth-of-type(3){
    padding-top: 15px;
}
#messaggio2{
    display: none;
}
#reset{
    margin-top: 15px;
    display: none;
}